<nav class=" navbar navbar-expand-sm bg-light  ">  
     <div class="navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="list-inline-item fav">
          <i class="fas fa-file-invoice"></i>
        </li>
        <li class="nav-item navbar-items">
              <a class="nav-link" [routerLink]="['/dashboard']">Overview</a>
        </li>
        <li class="nav-item navbar-items">
          <a class="nav-link" [routerLink]="['/transaction']">Transaction</a>
        </li>
        <li class="nav-item navbar-items">
          <a class="nav-link" [routerLink]="['/budget']">Budget</a>
        </li>
       <li class="nav-item navbar-items">
          <a class="nav-link" [routerLink]="['/creditscore']">Credit Score</a>
        </li>
        <!-- <li class="nav-item navbar-items">
          <a class="nav-link" href="#">Bills</a>
        </li> -->
        <!-- <li class="nav-item navbar-items">
          <a class="nav-link" href="#">Investments</a>
        </li> -->
      </ul>
    </div>
   </nav>
   