<app-header>Affiliates and Partners</app-header>


<br/>
<h2> Affiliates and Partners </h2>
<br/>
<br/>




<h4>
    Reach people who matter most to your business
</h4>

<p>
    Partner with us and reach millions of engaged users who are actively managing their case flow, budgets, and investments with PennyWise. Take advantage of PennyWise's ability to reach individuals who are looking for new ways to save and invest money, enabling you to get the most value from your ad spend.
</p>

<br/>
<h6>
Partners</h6>
<li>
  Divya Taneja</li>
<li>  Janhavi Bhalerao</li>
<li> Seemanthini Jois</li>
<li> Suraksha Jadhav</li>
<li> Yash Dhawan
</li>

<app-footer></app-footer>