<app-header></app-header>
<app-subheader *ngIf = "loggedInStatus"></app-subheader>

<div id="imgAlign">
    <img src='../../assets/creditcheck (2).jpg' width="600" height="400/"> 
</div>
    <br/>
  <div class="right" >
    <h3>
    Nice Job! The world is your oyster
    </h3>
    <br/>
    <p>
      You’re a credit score champ! Stay on top of your game to make sure you
      have the best loan options available to you.
      
    </p>
    <br/>
    <br/>
    <h3>
      Paying bills on time helps keep your credit score high
    </h3>
    <p>Missing or being late paying a bill can stay on your credit for up
      to 7 years. Stay in the green with PennyWise bill reminders and
      payments. Mint can monitor your bills, bank accounts and
      credit cards, to help stop things from falling through the cracks.
      </p> 
  </div>
    
  
    <br/>
    <br/>
    <br/>
    
    <div class="left" >
    <h3>
      Your on-time payments -Excellent
    </h3>
    <p>Stay on track of your payments with bill reminders so we can notify you of upcoming payments.</p>

    
    <br/>
    <br/>
    <h3>
    
      YOU’RE FLYING HIGH! NOW STICK THE LANDING
      
    </h3>
    <p>
    Great job keeping your credit score healthy! You’ve mastered
    the basics, now optimize like a pro. Learn to spot deals like the
    Blue Cash Preferred card from our partner American Express. It
    offers great cash back rewards like 6% cash back at U.S.
    supermarkets (on up to $6,000 per year in purchases, then 1%).
    </p>
    
<br/>
    <br/>
  </div>
    <div class="right" >
    <h3>
      Below are the  factors affecting your TransUnion VantageScore® credit score. 
    </h3>
    <br/>
    <ul>
    <li>
      Your credit usage </li>
    
    <li>Your on-time payments</li>
    <li>Avg. age of your credit
    </li>
    <li>Your total accounts</li>

<li>Your credit inquiries</li>

<li>Your derogatory marks </li>

</ul>
    </div>    
    
    <app-footer></app-footer>
